body {
    margin-top: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.responsive {
  width: 100%;
  height: auto;
}

nav {
    top: 0%;
    left: 50%;
    background-color: black;
    position: fixed;
    transform: translate(-50%, -0%);
    width: 100%;
  }

nav>ul {
    list-style-type: none;
    margin: 50px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

nav>ul>li {
    float: left;
  }

nav>ul>li>a {
    display: block;
    color: white;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    min-width: 100px;
  }

h1 {
  text-align: center;
}

.profilepic {
  display: block;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.selfie {
  height: 250px;
}

.caption {
  display: block;
  font-size: 16px;
}

hr {
  margin-top: 100px;
  margin-bottom: 100px;
}

.earlymusic {
  text-align: justify;
}

.earlymusic > div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.earlymusic::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.lscpamusic {
  text-align: justify;
}

.lscpamusic > div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.lscpamusic::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.belmontmusic {
  text-align: justify;
}

.belmontmusic > div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.belmontmusic::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.oprymusic {
  display: block;
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.mtmusic {
  text-align: justify;
}

.mtmusic > div {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}

.mtmusic::after {
  content: "";
  width: 100%;
  display: inline-block;
}

.revision1 {
  width: 500px;
  border: 2px solid black;
}